<!-- <div class="lista mt-5">
    <div>
        <div class="border-custom shadow">
            <p *ngFor="let figurina of cardDetail" (click)="onClick(figurina.id)" class="fs-3 text-center px-5 list-custom">
                {{figurina.title}}
            </p>

        </div>
    </div>
</div> -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <table class="table table-custom mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th> Nome </th>
                  
                  </tr>
                </thead>
                <tbody>
            
                  <tr *ngFor="let figurina of cardDetail" (click)="onClick(figurina.id)" class=" cursor-custom">
                    <td>{{figurina.id}}</td>
                    <td>{{figurina.title}}</td>
                  </tr>
                 
                </tbody>
              </table>

        </div>
    </div>
</div>
