
.topbar {
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    background-color: #76b5c5;
}

.logo {
    width: 200px;
}
.title{
    margin-inline: 400px;
    margin-top: 7px;
}

.user{
    width: 60px;
    cursor: pointer;
}

.userDetail {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 2rem 1rem;
    right: 0;
    transform: translateX(10%);
    margin-top: 20px;
}


/*.arrow{
    display: none;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    border-bottom: 5px solid rgba(128, 128, 128, 0.5);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    top: 100%;
}*/

.userContainer {
    position: relative;
}

.userContainer:hover .userDetail, .userContainer:hover .arrow{
    display: block;
}

.userDetail::before {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid transparent;
    border-bottom: 8px solid rgba(128, 128, 128, 0.5);
}

