
.topbar {
    display: flex;
    
    justify-content: space-around;
    background-color: red;
    
}

.logo {
    width: 200px;
}
.title{
    margin-inline: auto;
    margin-top: 7px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    transform: translateX(-100px);
}

.user{
    width: 40px;
    
    cursor: pointer;
}

.userDetail {
    display: block;
    position: absolute;
    top: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 2rem 1rem;
    right: 0;
    transform: translateX(10%);
    margin-top: 20px;
}



.userContainer {
    position: relative;
}

/* .hover{
    display: none;
} */

/* .userContainer:hover .userDetail, .userContainer:hover .arrow{
    position: absolute;
    display: block;
    
} */

/* .userDetail {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid transparent;
    border-bottom: 8px solid rgba(128, 128, 128, 0.5);
} */

