<!-- <div class="container">
    <ul>
        <li>nome: {{figurina.title}}</li>
        <li>costo: {{figurina.costo}}</li>
        <li>anno: {{figurina.anno}}</li>
        <li>collezione: {{figurina.collezione}}</li>
    </ul>
    
</div> -->
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-3 d-flex justify-content-center">

            <div class="card text-center mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nome : {{figurina.title}}</h5>
                  <a href="" class="text-decoration-none"><h6 class="card-subtitle mb-2 text-muted">Collezione: {{figurina.collezione}}</h6></a>
                  <p class="card-text">Costo: {{figurina.costo}}</p>
                  <a href="" class="card-link text-decoration-none">Anno: {{figurina.anno}}</a>
                  
                  
                  
                </div>

                <a href > <button class="btn btn-danger" type="button">Back </button> </a>
            </div>
            
        </div>
    </div>
</div>
