.register_title {
    text-align: center;
    margin-block: 20px;
}

.invalid{
    padding: 0.2rem 0.75rem;
    font-size: 10px;
}

.register{
    cursor: pointer;
}

.border-custom{
    border: 3px solid transparent;
    border-radius: 10px;
}